body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.deneme {
    width: 100%;
    height: 30vh;
}
#input {
    width: 60vw;
    height: 5vh;
}
.imagelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.imagelist .card img {
    height: 30vh;
    object-fit: cover;
}
.card {
    border: 0px;
}